.user-credentials {
  position: sticky;
  display: flex;
  gap: 16px;
  top: 0;
  padding: 28px 20px 20px 72px;
  background-color: var(--lightgrey-bg);
  @media #{$mobile700M} {
    padding: 28px 24px 20px;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    color: var(--color-accent);
    background-color: var(--white);
  }

  &__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    line-height: 16px;
  }

  &__name-surname,
  .btn-auth {
    font-size: 14px;
    font-weight: 800;
    word-break: break-all;
  }

  .btns-auth {
    display: flex;
    gap: 8px;
  }

  &__email {
    font-size: 13px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.user-credentials.user-account {
  position: relative;
  padding: 36px 20px 36px 72px;
  border-bottom: 1px solid var(--lightgrey-bg);
  background-color: transparent;
  @media #{$mobile700M} {
    padding: 28px 24px 28px var(--base-padding);
  }

  .user-credentials__avatar {
    background-color: var(--lightgrey-bg);
  }

  .btn-close {
    display: none;
  }
}
